.alt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 0 10px;

  position: relative;
}

.alt-header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.alt-header-column {
  display: flex;
}
.alt-header-column span {
  font-size: 28px;
  font-weight: 600;
}
.alt-header-column i:nth-child(2) {
  margin-left: 25px;
}
