.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px 10px 10px;
  /* width: inherit; */
  position: relative;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
  /* margin-bottom: 15px; */
}

.screen-header__eachicon {
  margin-left: 15px;
}

.screen-header__eachicon-settings-icon {
  width: 4px;
  height: 4px;
  background-color: tomato;
  border-radius: 2px;
  /* position: absolute;
  top: 58px;
  right: 32px; */
  /* border: 1px solid black; */
}
