.user-component {
  margin-top: 20px;
  margin-left: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 5px;
  font-size: 15px;
  color: #9b9b9b;
  display: flex;
  text-align: center;
}

.exclamation-mark {
  width: 14px;
  height: 14px;
  border: 2px solid tomato;
  border-radius: 9px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: tomato;
  margin-left: 5px;
}

.friends-screen__channel {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: #9b9b9b;
  font-weight: 600;
  justify-content: space-between;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title--not-bold {
  font-weight: 500;
  font-size: larger;
}

.user-component__time {
  margin: 0 0 7px 0;
  color: #bfbfbf;
  font-size: 15px;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
